* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535c91;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #1b1a55;
  padding: 20px;
  height: 80%;
  width: 70%;
  border-radius: 30px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
}

.points-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}

.points-container {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: black;
  width: 275px;
  height: 325px;
  border-radius: 20px;
  padding-right: 10px;
}

.points {
  font-weight: 700;
  font-size: 175px;
  color: lightpink;
}
